<div class="container">
    <table class="table table-dark mt-4">
        <thead>
            <tr>
            <th scope="col">TV SERIES</th>
            <th scope="col">ACTOR</th>
            <th scope="col">AVERAGE RATING</th>
            </tr>
        </thead>
        <tbody>
            <% @series.each do |series|%>
                <tr>
                <td><%=series.name%></td>
                <td><%=series.actor%></td>
                <td><%=calculate_average_rating(series) %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>